Benjamin Lorenz <lorenz@math.tu-berlin.de> <benlorenz@users.noreply.github.com>
Carlo Sircana <sircana@mathematik.uni-kl.de>
Claus Fieker <fieker@mathematik.uni-kl.de> <claus.fieker@gmail.com>
Claus Fieker <fieker@mathematik.uni-kl.de> <fieker@murrumesh.mathematik.uni-kl.de>
Daniel Schultz <tthsqe12@gmail.com>
Henry Gebhardt <hsggebhardt@psu.edu> <hsggebhardt@gmail.com>
Jieao Song <8d1h@tutanota.com> <69371221+8d1h@users.noreply.github.com>
Johannes Hoffmann <johannes.hoffmann@rwth-aachen.de>
Johannes Hoffmann <johannes.hoffmann@rwth-aachen.de> <54673965+johannes-hoffmann@users.noreply.github.com>
Johannes Schmitt <jschmitt@posteo.eu>
Johannes Schmitt <jschmitt@posteo.eu> <johannes.schmitt@ruhr-uni-bochum.de>
Johannes Schmitt <jschmitt@posteo.eu> <JSchmitt@eduroam-ipv4-1530.triple-a.uni-kl.de>
Julien Schanz <60349899+julien-schanz@users.noreply.github.com>
Lars Göttgens <lars.goettgens@rwth-aachen.de> <lars.goettgens@gmail.com>
Marek Kaluba <kalmar@amu.edu.pl>
Marek Kaluba <kalmar@amu.edu.pl> <marek.kaluba@kit.edu>
Markus Kurtz <m@mgkurtz.de>
Markus Kurtz <m@mgkurtz.de> <kurtz@mathematik.uni-kl.de>
Martin Bies <HereAround@users.noreply.github.com> <MBies87@googlemail.com>
Rafael Fourquet <fourquet.rafael@gmail.com> <fourquet.rafael+github@gmail.com>
Simon Brandhorst <brandhorst@math.uni-sb.de> <51749255+simonbrandhorst@users.noreply.github.com>
Simon Brandhorst <brandhorst@math.uni-sb.de> <sbrandhorst@web.de>
Thomas Breuer <sam@math.rwth-aachen.de>
Tommy Hofmann <thofma@gmail.com>
Tommy Hofmann <thofma@gmail.com> <tommy>
William Hart <goodwillhart@googlemail.com>
