Claus Fieker <fieker@mathematik.uni-kl.de> <claus.fieker@gmail.com>
Claus Fieker <fieker@mathematik.uni-kl.de> <fieker@murrumesh.mathematik.uni-kl.de>
Johannes Hoffmann <johannes.hoffmann@rwth-aachen.de> <54673965+johannes-hoffmann@users.noreply.github.com>
Johannes Schmitt <jschmitt@posteo.eu>
Johannes Schmitt <jschmitt@posteo.eu> <JSchmitt@eduroam-ipv4-1530.triple-a.uni-kl.de>
Marek Kaluba <kalmar@amu.edu.pl>
Rafael Fourquet <fourquet.rafael@gmail.com> <fourquet.rafael+github@gmail.com>
Simon Brandhorst <sbrandhorst@web.de> <51749255+simonbrandhorst@users.noreply.github.com>
Tommy Hofmann <thofma@gmail.com>
William Hart <goodwillhart@googlemail.com>
